.table-text-color {
    color: aliceblue;
}

.bg-crimson {
    background-color: crimson;
}

.morado{
    background-color: rgb(217 210 233);
}

.amarillo{
    background-color: rgb(255 229 153);
}

.azul1{
    background-color: rgb(208 224 227);
}

.rojo{
    background-color: rgb(244 204 204);
}

.azul2 {
    background-color: rgb(201 218 248);
}

.verde{
    background-color: rgb(217 234 211);
}

.gris{
    background-color: rgb(239 239 239);
}

.rosa{
    background-color: rgb(234 209 220);
}

.naranja{
    background-color: rgb(252 229 205);
}
.fondo{
    background-color: rgb(230 230 230);
}
.fondo2{
    background-color: rgb(242 242 242);
}